
@media screen and (max-width:576px){
    .header-section{
        flex-direction: column;
    } 
    .logo-container{
        width: 100%;
       justify-content: center;
    }
    .menu-container{
        flex-direction: column;
        gap: 25px;
        width: 100%;
        margin-top: 30px;
    }
    .input-button{
        flex-direction: column;
    }
    .banner-content{
        text-align: center;
        width: 70%;
        top: 14%;
        left: 39%;
        transform: translate(-30%, -45%);
    }
    .banner-title{
        font-size: 1.8rem;
        top: -100px;
        left: 0;-
        
    }
    .banner-button-container{
        height: 350px;
        top: 42%;
        left: 32%;
        display: flex;
        justify-content: center;
        transform: translate(-86%, -24%);
    }
    /* Popular section */
    .popular-section{
        flex-direction: column;
    }
    .popular-container{
        width: 100%;
    }
    .popular-img-container{
        width: 100%;
    }
    .popular-img-container img{
        width: 100%;
        height: 100%; 
    }
    .btn-primary{
        margin-bottom: 15px;
    }
/* Choose us  */
    .choose-us{
        margin-top: 700px;
    }
    .choose-us p{
        margin: 0;
    }
    .choose-us h1{
        font-size: 30px;
    }
    .destination-img-gallery-1 {
        flex-direction: column;
    }
    .box1-img{
        width: 100%;
    }
    .box2-img{
        width: 100%;
    }
    .destination-img-gallery-2 {
        flex-direction: column;
    }
    .box3-img{
        width: 100%;
    }
    .box4-img{
        width: 100%;
    }
    .box4-img img{
        object-fit: cover;
     }
    .box5-img{
        width: 100%;
    }
    .box5-img img{
       object-fit: cover;
    }
    .destination-img-gallery-3 {
        flex-direction: column;
    }
    .box6-img{
        width: 100%;
    }
    .box6-img img{
        object-fit: cover;
     }
    .box7-img{
        width: 100%;
    }
    .box7-img img{
       margin-top: 280px;
     }

     .service-container {
        flex-direction: column;
        padding: 20px;
    }
    .Handpicked-Hotels {
        width: 100%;
    }
    .best-price {
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px;
    }

    .section {
        flex-direction: column;
    }
}

/* Tablet device */
@media screen and (min-width:576px) and (max-width:990px) {
    .header-section{
        flex-direction: column;
    }
    .logo-container{
        width: 100%;
       justify-content: center;
    } 
    .menu-container{
        margin-top: 30px;
        gap: 25px;
        width: 100%;
    }
    .input-button{
        flex-direction: column;
    }
    .banner-content{
        text-align: center;
        width: 70%;
        top: 14%;
        left: 39%;

    }
    .banner-title{
        font-size: 2.5rem;
        top: -150px;
        left: 0;
    }
    .banner-button-container{
        height: 350px;
        top: 42%;
        left: 32%;
        display: flex;
        justify-content: center;
        transform: translate(-86%, -24%);
    }

    /* Popular section */
    .popular-section{
        flex-direction: column;
    }
    .popular-container{
        width: 100%;
    }
    .popular-img-container{
        width: 100%;
    }
    .popular-img-container img{
        width: 100%;
        height: 100%; 
    }
    .btn-primary{
        margin-bottom: 15px;
    }
}


/* Laptop/Desktop device */
@media screen and (min-width:990px) and (max-width:1100px) {
    .banner-button-container{
        top: 42%;
        left: 32%;
        display: flex;
        justify-content: center;
        transform: translate(-86%, -24%);
    }
    .banner-content{
        text-align: center;
        width: 70%;
        top: 14%;
        left: 39%;
    }

    
}
